.date__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  font-size: 2rem;
  transform: translateY(-300px);
  opacity: 0;
  transition: transform .4s, opacity .8s;

  &_visible {
      transform: translateY(0);
      opacity: 1;
  }

  .time__wrapper {

    .time__text {
      font-size: 6rem;
    }
  }

  .greeting__wrapper {
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;

    @media (max-width: 600px) {
      font-size: 2rem;
    }

    @media (max-width: 400px) {
      font-size: 1.6rem;
    }
  }
}
